<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @market.place %>
</p>

<p>
  <strong>Currentdate:</strong>
  <%= @market.currentDate %>
</p>

<p>
  <strong>Minprice:</strong>
  <%= @market.minPrice %>
</p>

<p>
  <strong>Maxprice:</strong>
  <%= @market.maxPrice %>
</p>

<p>
  <strong>Avgprice:</strong>
  <%= @market.avgPrice %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @market.unit %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
